{% extends "base.html" %} {% block content %}

<div class="hero min-h-screen">
    <div class="hero-content flex-col">
        <div class="text-center lg:text-left mb-5">
            <h1 class="text-5xl font-extrabold">¡Bienvenido!</h1>
        </div>

        <div class="card bg-base-100 w-full max-w-lg shadow-2xl p-8">
            <h2 class="text-2xl font-semibold mb-6 text-center">
                Registrate / Inicia Sesión
            </h2>

            <form class="fieldset space-y-4">
                <div>
                    <label class="label font-bold text-base">E-mail</label>
                    <input
                        class="input input-bordered input-lg w-full"
                        type="email"
                        name="email"
                        placeholder="tu@correo.com"
                    />
                </div>

                <div>
                    <label class="label font-bold text-base">Contraseña</label>
                    <input
                        class="input input-bordered input-lg w-full"
                        type="password"
                        name="password"
                        placeholder="••••••••"
                    />
                </div>

                <div class="form-control mt-3">
                    <button class="btn btn-primary btn-block text-white">
                        Continuar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
