@keyframes sound {
    0% {
        opacity: 0.35;
        height: 10px;
    }
    100% {
        opacity: 1;
        height: 70px;
    }
}

.bar {
    background: theme("colors.primary"); /* Usa el color primario de DaisyUI */
    bottom: 1px;
    height: 3px;
    width: 10px;
    animation: sound 0ms -800ms linear infinite alternate;
}
